@media (max-width: 1200px) {
    .mobile-menu-btn {
        display: inline-block;
    }

    .sidebar {
        transform: translateX(-100%);
        /* hidden */
        z-index: 1000;
        transition: transform 0.3s ease-in-out;
    }

    .sidebar .mt-auto {
        margin-top: 0 !important;
    }

    .sidebar.open {
        transform: translateX(0);
        /* slide in */
    }

    .content,
    .top-bar,
    .bottom-bar {
        margin-left: 0;
        /* make content full-width */
    }

    form {
        max-width: 70%;
    }
}